<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- datasource config -->
	<import resource="jdbc-context.xml" />
	
	<!-- start of Dao beans -->
	<bean id="broadcastAccountDao" class="net.younguard.bighorn.broadcast.dao.spring.AccountDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<bean id="broadcastAccountLoginDao" class="net.younguard.bighorn.broadcast.dao.spring.AccountLoginDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<bean id="broadcastDeviceDao" class="net.younguard.bighorn.broadcast.dao.spring.DeviceDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<bean id="broadcastDeviceAccountDao" class="net.younguard.bighorn.broadcast.dao.spring.DeviceAccountDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<bean id="broadcastGameDao" class="net.younguard.bighorn.broadcast.dao.spring.GameDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<bean id="broadcastGameManualDao" class="net.younguard.bighorn.broadcast.dao.spring.GameManualDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<bean id="broadcastGameMemberDao" class="net.younguard.bighorn.broadcast.dao.spring.GameMemberDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<bean id="broadcastPlayerDao" class="net.younguard.bighorn.broadcast.dao.spring.PlayerDaoImpl">
		<property name="jdbcTemplate" ref="bighornJdbcTemplate" />
	</bean>
	<!-- end of Dao beans -->


	<!-- start of service beans -->
	<bean id="broadcastAccountService" class="net.younguard.bighorn.broadcast.service.AccountServiceImpl">
		<property name="accountDao" ref="broadcastAccountDao" />
		<property name="accountLoginDao" ref="broadcastAccountLoginDao" />
	</bean>
	<bean id="broadcastDeviceService" class="net.younguard.bighorn.broadcast.service.DeviceServiceImpl">
		<property name="deviceDao" ref="broadcastDeviceDao" />
		<property name="accountDeviceDao" ref="broadcastDeviceAccountDao" />
	</bean>
	<bean id="broadcastGameService" class="net.younguard.bighorn.broadcast.service.GameServiceImpl">
		<property name="gameDao" ref="broadcastGameDao" />
		<property name="gameMemberDao" ref="broadcastGameMemberDao" />
		<property name="gameManualDao" ref="broadcastGameManualDao" />
	</bean>
	<bean id="broadcastPlayerService" class="net.younguard.bighorn.broadcast.service.PlayerServiceImpl">
		<property name="playerDao" ref="broadcastPlayerDao" />
	</bean>
	<bean id="broadcastSessionService" class="net.younguard.bighorn.broadcast.service.SessionServiceHashMapImpl">
	</bean>
	<!-- end of service beans -->
	

	<bean id="applicationContextProvider" class="net.younguard.bighorn.web.ApplicationContextProvider"></bean>

</beans>